/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr. 9, 2021, 7:36:50 p.m.
    Author     : leduy
*/
#selectedMenu{
    -fx-text-fill:  #46536d;
    -fx-underline:true
}

.menubtn:hover{
    -fx-text-fill:  #46536d;
    -fx-underline:true
}

.sidebtn {
    -fx-background-color: #c8cedb;
}

.sidebtn:hover {
    -fx-background-color:  #46536d;
    -fx-text-fill:  #FFF;
}

.table-view .filler{
    -fx-background-color: transparent;
}
.table-view .column-header-background {
    -fx-background-color:  #e0e4eb;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: white
}

:disabled {
    -fx-opacity: 1.0 ;
}


